body {
    font-family: "IBM Plex Mono", monospace;
    background-color: #E6CEAB;
}

#group {
    background-color: #A3A38B;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-title {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 10px;
}

.text-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-weight: 500px;
}

#button-answer {
    color: #3E6D46;
    font-weight: bold;
}