body {
    font-family: "IBM Plex Mono", monospace;
    background-color: #E6CEAB;
}

.card {
    background-color: #A3A38B;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}